* {
    margin: 0;
    padding: 0;
    font-family: "arial", "verdana", "sans-serif";
}

body {
    background-color: rgba(20, 18, 18, 0.774);
}

#foto:hover {
    transform: translateY(-5rem);
    transition: 1s;
}

li {
    display: inline-block;
    font-size:40px;
    font-family: "arial", "verdana", "sans-serif";
    margin:20px;
    padding-left:50px;
    color:white;
}

li:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#foto {
    margin-left: 555px;
}

#free {
    border: 3px solid rgb(103, 0, 163);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

span {
    color:  rgb(132, 14, 201);
    padding: 40px;
    font-size: 70px;
}

p {
    color: #ffff;
    padding: 40px;
    font-size: 30px;
}

div {
    margin: 100px;
    color: rgb(41, 22, 53)
}

#title {
    text-align: justify;
    margin-bottom: 50px;
    font-size: 40px;
    display: inline-block;

}

img{
    width: 300px;
}

